<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ball</key>
	<dict>
		<key>elasticity</key>
		<integer>6</integer>
		<key>friction</key>
		<integer>1</integer>
		<key>mass</key>
		<integer>1</integer>
	</dict>
	<key>brick</key>
	<dict>
		<key>elasticity</key>
		<real>0</real>
		<key>friction</key>
		<integer>1</integer>
		<key>mass</key>
		<integer>1</integer>
	</dict>
	<key>static</key>
	<dict>
		<key>elasticity</key>
		<real>0.1</real>
		<key>friction</key>
		<integer>1</integer>
		<key>static</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
