<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.31.0.156985</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1024, 768}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{1024, 768}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-11-07 01:10:48 +0000</string>
	<key>Creator</key>
	<string>Jonathan Wight</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 px</string>
	<key>FileType</key>
	<string>package</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{640, 440}, {30, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>935</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.384053</string>
						<key>r</key>
						<string>0.998727</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>item 1</key>
				<string></string>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{560, 450}, {38, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>934</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{598, 450}, {38, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>933</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{600, 480}, {110, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>930</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{712, 450}, {38, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>929</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{674, 450}, {38, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>928</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{560, 510}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>902</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{570, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>901</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{570, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>900</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>899</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>898</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{600, 510}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>897</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>896</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>895</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{560, 630}, {50, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>888</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{560, 570}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>886</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{570, 570}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>885</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{570, 600}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>884</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 570}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>883</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 600}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>882</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{600, 570}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>881</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 570}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>880</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 600}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>879</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.761146</string>
						<key>g</key>
						<string>0.195786</string>
						<key>r</key>
						<string>0.124549</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{570, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>876</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 690}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>875</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>874</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{600, 690}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>873</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 690}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>872</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{590, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>871</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.130179</string>
						<key>g</key>
						<string>0.761146</string>
						<key>r</key>
						<string>0.108361</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{700, 570}, {50, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>870</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{1010, 10}, {14, 740}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>866</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.408742</string>
						<key>r</key>
						<string>0.135043</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>static</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{700, 510}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>846</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>845</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>844</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>841</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>840</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{740, 510}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>836</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 510}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>835</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.110919</string>
						<key>g</key>
						<string>0.697206</string>
						<key>r</key>
						<string>0.219141</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 540}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>834</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{700, 690}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>831</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{700, 630}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>830</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 630}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>829</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 660}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>828</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 690}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>827</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{710, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>826</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 630}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>825</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 660}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>824</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 690}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>823</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>822</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{740, 690}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>821</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{740, 630}, {10, 60}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>820</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 630}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>336</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.169592</string>
						<key>g</key>
						<string>0.128261</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 660}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>314</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 690}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>292</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{730, 720}, {10, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.228092</string>
						<key>g</key>
						<string>0.558637</string>
						<key>r</key>
						<string>0.761146</string>
					</dict>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>brick</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{140, 300}, {40, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.270423</string>
						<key>g</key>
						<string>0.725258</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>ball</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 750}, {1024, 20}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>UserInfo</key>
			<dict>
				<key>template</key>
				<string>static</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>10</real>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>1</integer>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-11-18 18:57:48 +0000</string>
	<key>Modifier</key>
	<string>Jonathan Wight</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgRgDgWQChg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<true/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{0, 4}, {800, 574}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{343, 306}, {680, 464}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
